.react-flow__minimap {
  @apply bg-background;
}

.react-flow__attribution {
  @apply hidden;
}

.react-flow__resize-control.right {
  @apply border-none hover:border hover:bg-primary/50;
}

.react-flow__resize-control.bottom {
  @apply border-none hover:border hover:bg-primary/50;
}

.react-flow__resize-control.left {
  @apply border-none hover:border hover:bg-primary/50;
}

.react-flow__resize-control.top {
  @apply border-none hover:border hover:bg-primary/50;
}

.react-flow__resize-control.top.left {
  @apply hidden;
}

.react-flow__resize-control.top.right {
  @apply hidden;
}

.react-flow__resize-control.bottom.left {
  @apply hidden;
}

/* .react-flow__resize-control.bottom.right {
  @apply hidden;
} */
