@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 11.11% 96.47%;
    --foreground: 31 78% 1%;

    --muted: 210 14.29% 91.76%;
    --muted-foreground: 210 6.25% 12.55%;

    --popover: 210 11.11% 96.47%;
    --popover-foreground: 0 0% 0%;

    --card: 210 11.11% 96.47%;
    --card-foreground: 0 0% 0%;

    --primary: 225.93 70.73% 40.2%;
    --primary-foreground: 240 6.67% 97.06%;

    --secondary: 142.43 71.81% 29.22%;
    --secondary-foreground: 120 17.65% 96.67%;

    --accent: 210 14.29% 91.76%;
    --accent-foreground: 210 6.25% 12.55%;

    --destructive: 345.35 82.69% 40.78%;
    --destructive-foreground: 355.71 100% 97.25%;

    --border: 204 5.62% 82.55%;
    --input: 204 5.62% 82.55%;
    --ring: 225.93 70.73% 40.2%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 228.57 84% 4.9%;
    --foreground: 219.23 100% 94.9%;

    --muted: 221.43 52.5% 15.69%;
    --muted-foreground: 219.23 100% 94.9%;

    --popover: 228.57 84% 4.9%;
    --popover-foreground: 219.23 100% 94.9%;

    --card: 228.57 84% 4.9%;
    --card-foreground: 219.23 100% 94.9%;

    --primary: 225.93 70.73% 40.2%;
    --primary-foreground: 219.13 100% 90.98%;

    --secondary: 142.78 64.23% 24.12%;
    --secondary-foreground: 134.57 77.78% 82.35%;

    --accent: 221.43 52.5% 15.69%;
    --accent-foreground: 219.23 100% 94.9%;

    --destructive: 345.35 82.69% 40.78%;
    --destructive-foreground: 352.65 96.08% 90%;

    --border: 221.25 36.92% 25.49%;
    --input: 221.25 36.92% 25.49%;
    --ring: 225.93 70.73% 40.2%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
